<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }} | {{ site.description }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/solo.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
    {% if site.font-awesome-include %}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">{% endif %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/rrssb.css">

    <script src="{{ site.baseurl }}/scripts/jquery.js"></script>
</head>
<body>
    <article>
        <div class="container">
            {{ content }}
        </div>
    </article>
    <script src="{{ site.baseurl }}/scripts/rrssb.min.js"></script>
</body>
</html>
